<html>
    <%-include('partials/head.html');%>
    <body>
        <header>
            <%-include('partials/navegacion.html');%>
        </header>
        <br><br><br><br><br>
        <div class="container">
            <section id="seccion">
                <center> <h1><b> Acerca de nosotros</b> </h1></center> 
                
                    <h4 id="fdsac">
                        
                        Somos una empresa dedicada a la reparación y el mantenimiento de los autos de todas las marcas y
                        modelos, asegurando que su vehículo se encuentre en las más óptimas condiciones a la hora de salir,
                        nos comprometemos a mostrar las piezas que te utilizarán y las que se serán removidas. Llevamos más
                        de 40 años trabajando y demostrando a nuestros clientes la seguridad y la calidad que manejamos en
                        tiempo y forma a la hora de entregar un vehículo. Puede confiar que nuestra empresa está 
                        comprometida a tratar de solucionar su problema automotriz.

                    </h4>


                <center> <img id="imgac" src="/img/img1.jpg" > </center>

                <center>  <img id="imgac" src="/img/img2.jpg" </center>
                

                <h4 id="fdsac">
                    Compromiso por la calidad, rapidez, confianza en el trabajo y lo más importante, la seguridad e integridad
                    de cada uno de nuestros clientes son los valores que hacen que este taller día a día trabaje por 
                    ofrecer el mejor servicio integral automotriz.
            </h4>


                <h4 id="expac">
                    <b>
                        ¡Nos respaldan 40 años de servicio!
                    </b>
                </h4>

            </section>
        </div>
        <%-include('partials/footer.html');%>
    </body>
</html>