<html>
    <%-include('partials/head.html');%>
    <body>
        <header>
            <%-include('partials/navegacion.html');%>
        </header>
        <br><br><br><br><br>
        <div class="container">
            <section>
                <center>
                <h3> <b> ¿Quienes somos? </b> </h3>
                <h4 id="con1">  <b> ¡Conócenos! </b> </h4>
                <img id="imgpg1" src="/img/img1.jpg" >
                <img id="imgpg2" src="/img/img2.jpg" >
                <a id="i1" href="acercade">Saber más</a>
                </center>
                

            </section>

            <section id="seccion">
                <center> 
                <h3 id="t1pg"> <b> Para obtener informacion sobre el contacto haga click en el siguiente botón </b> </h3>
                    <img class="imgpp" src="/img/AT.png" >
                    <a id="i1" href="contactos">Contactanos </a>
                </center>
            </section>
        </div>
        <%-include('partials/footer.html');%>
    </body>
</html>